<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
    <script>
        var status = '<%- JSON.stringify(status) %>';
        if (JSON.parse(status) == "verified") {
            if (confirm("Do u want to login?")) {
                window.location.href = "http://localhost:5000/";
            }
        }
    </script>
</head>

<body style="display: flex; flex-direction: column; align-items: center;">
    <h1>
        Hello,
        <span style="color: brown;">
            <%= email%>
        </span>
        please update your password here-
    </h1>
    <form method="post">
        <input style="padding: 10px; font-size: x-large;" type="password" name="password" id="password"
            placeholder="updated password" /><br />
        <input style="margin: 15px 0px 0px 125px; padding: 10px; " type="submit" value="submit" />
    </form>
</body>

</html>